.error {
    -fx-text-fill: #d80000 !important;
    -fx-font-weight: bold;
}

.tag-label {
    -fx-background-radius: 4;
    -fx-background-color: #ab00fb;
    -fx-opacity: 0.7;
    -fx-text-fill: #FFFFFF !important;
    -fx-padding: 3 8 3 8;
}
