#helpMessage {
    -fx-text-fill: #000000;
}

#copyButton {
    -fx-text-fill: white;
    -fx-background-color: #FF8C00; /* Orange */
}

#copyButton:hover {
    -fx-background-color: #FFA64D;
}

#copyButton:armed {
    -fx-background-color: #E67300;
}
